html, body{
    background: #90003e;
    height:100%;
}

.container{
    background:#ededef;
    width:99%;
    height:80%;
    padding:6rem 8rem;
    margin-bottom:2rem;
}

.btn-tran {
    background: transparent;
    border: none !important;
    font-size:0;
    padding: 0.4rem 0.2rem;
}

.nav>li>a{
    color:#ffffff;
    font-size:12pt;
    position:relative;
}
.nav>li>a:hover{
    background:#A00C48;
    border-color: #90003e;
}

.nav>li>a:active{
    background:#ededef;
}

.nav>li>a:focus{
    background:#ededef;
}