.header{
    background-color: #90003E;
    padding: 0px;
    font-size: 30px;
    height: 10px;
    margin-top: -20px;
    margin-left: 100px;
    text-align: left;
    font-family: 楷体;
}
.header a{
    text-decoration: none;
    color: #FFFFFF;
}
.menu ul{
    list-style-type: none;
    margin:0;/* 10px; 起始标签缩进10px； */
    padding:0;
    overflow: hidden;
    background-color: #90003E;
}
 
.menu li{
    float: right;
    font-size:18px;
    border-left: 2px solid #90003E;
}

.menu li:last-child {
    border-left: none;
}
 
.menu li a{
    display: block;
    color: #FFFFFF;
    text-transform: uppercase;
    text-align: center;
    padding: 10px 15px;
    text-decoration: none;
    background-color:#90003E;
}
 
.menu li a:hover:not(.active){
    background-color:#A00C48;
}

li a.active{
    color: #90003E;
    background-color: #EDEDEF;
}
 
 body{
     background-color: #90003E;
 }
.posStyle {
    background-color: #90003E;
    height: 1px;
}
.content{
    background:#EDEDEF;
    color:#6B5152;
    min-height:485px;
    padding:10px;
}