.datapanel {
    font-family:"Microsoft YaHei";
    margin-left:10%;
    margin-top:15px;
    padding:0px 30px;
}
.datapanel table {}

.opbar {
    font-family:"Microsoft YaHei";
    margin-left:10%;
    margin-top:20px;
    width:50%;
    padding:0px;
    height: 30px;
    text-align: left;
}
.opbar ul{
    width: auto;/*宽度也改为自动*/
    list-style-type: none;
    white-space:nowrap;
    overflow: hidden;
    margin-left: 0;
    padding: 0;
}

.opbar li{
    float:left; /* 使li内容横向浮动，即横向排列  */
    margin-right:1%;  /* 两个li之间的距离*/
    position: relative;
    overflow: hidden;
    padding:0px 0px;
}

.button {
    background-color: #90003e;
    border: none;
    border-radius:6px;
    color: white;
    padding: 6px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10pt;
}
.button:hover{
    background-color:#d38479;
}

.conbutton {
    background-color: #90003e;
    border: none;
    border-radius:6px;
    color: white;
    padding: 6px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10pt;
}

.conbutton:hover:not(.bactive){
    background-color: #d38479;
}

.bactive {
    background-color: #d38479;
}


.searchbar {
    margin-right:10%;
    margin-left:30%;
}
.searchbar li{
    float:left;
    list-style-type:none;
    margin-right:5px;
    vertical-align:bottom;
}
